#header{
    display: flex;
    position: fixed;
    top: 0%;
    left: 0vw;
    right: 0vw;
    height: 10vh;
    justify-content: space-around;
    font-size: 1.6vw;
    z-index: 1;
    background-color: red;
}
