@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold'), url('fonts/Gilroy-Bold.woff') format('woff');
}