@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Gilroy-Bold';
        font-style: normal;
        font-weight: normal;
        src: url(/src/assets/font/Gilroy-Bold.woff) format("woff");
    }
}
body {
    --background-black: #121212;
    --club-yellow: #E5A823;
    --club-blue: #000080;
    margin: 0;
}

@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold'), url('fonts/Gilroy-Bold.woff') format('woff');
}